# Google Analytics
NEXT_PUBLIC_GA_ID=G-3SD2928MVG

# Calendly
NEXT_PUBLIC_CALENDLY_URL=https://calendly.com/contact-slowebdesign/30min

# Netlify Forms
NEXT_PUBLIC_NETLIFY_FORMS_ENDPOINT=/.netlify/functions/submit-form

# Stripe
NEXT_PUBLIC_STRIPE_ESSENTIAL_LINK=https://buy.stripe.com/aFa3cvckDftkbPbeSGfMA00
NEXT_PUBLIC_STRIPE_GROWTH_LINK=https://buy.stripe.com/bJe00jgAT0yq2eBcKyfMA01
NEXT_PUBLIC_STRIPE_PRIORITY_LINK=https://buy.stripe.com/8x26oHbgz1Cu7yVbGufMA02
